* {
   font-family: Arial, Helvetica, sans-serif;
   font-size: ;   
}

img.lado {
    float: right;
}
body {
    background-color: bisque;

}
main {
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(39, 17, 17);

}

